body{
    text-align: center;
 background-color: crimson;
}
#origami0{
    background-color: aqua;
}
#origami1{
  background-color: lightcoral;
}
#origami2{
    background-color: lightcoral;
}